body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.options {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

button {
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 20px
}